@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background: #f0eeee;
    font-family: 'Roboto','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(74, 74, 182);
}

h1 {
    font-weight: 100;
}
img {
    width: 40px;
}
fieldset {
    border: none;
}
input {
    display: block;
}

.wrapper {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    background: #ffff;
}
